<template>
  <div class="block">
    <b-card no-body>
      <b-tabs>
        <b-tab active>
          <template slot="title">
            <icon name="info"></icon>
          </template>
          <b-row align-v="center">
            <b-col>
              <span>{{ $t('finder.info.search') }}</span>
            </b-col>
            <b-col>
              <span>{{ $t('finder.info.drag') }}</span>
            </b-col>
          </b-row>
        </b-tab>
        <b-tab>
          <template slot="title">
            <icon name="twitter-square"></icon>
          </template>
          <TwitterFinder></TwitterFinder>
        </b-tab>
        <b-tab>
          <template slot="title">
            <icon name="instagram"></icon>
          </template>
          <span>{{ $t('finder.instagram.not_available') }}</span>
        </b-tab>
        <b-tab>
          <template slot="title">
            <icon name="youtube-play"></icon>
          </template>
          <span>{{ $t('finder.youtube.not_available') }}</span>
        </b-tab>
        <b-tab>
          <template slot="title">
            <icon name="link"></icon>
          </template>
          <LinkFinder></LinkFinder>
        </b-tab>
        <b-tab>
          <template slot="title">
            <icon name="search"></icon>
          </template>
          <span>{{ $t('finder.search_engine.not_available') }}</span>
        </b-tab>
      </b-tabs>
    </b-card>
  </div>
</template>
<script>
import TwitterFinder from '@/components/finder/twitter';
import LinkFinder from '@/components/finder/link';

import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/twitter-square';
import 'vue-awesome/icons/instagram';
import 'vue-awesome/icons/youtube-play';
import 'vue-awesome/icons/link';
import 'vue-awesome/icons/search';
import 'vue-awesome/icons/info';

export default {
  name: 'Finder',
  components: {
    Icon, TwitterFinder, LinkFinder,
  },
  data() {
    return {};
  },
};
</script>
<style>

</style>
