<template>
  <div class="home">
    <b-container>
      <b-row align-v="center" class="my-3">
        <b-col>
          <b-card :title="$t('home.cards.create_story.title')">
          <p class="card-text">{{ $t('home.cards.create_story.paragraph') }}</p>
            <b-btn variant="success" size="lg" :to="{ name: 'NewStory' }">{{ $t('home.cards.create_story.button') }}</b-btn>
        </b-card>
        </b-col>
        <b-col>
          <b-card :title="$t('home.cards.import_storify.title')">
            <p class="card-text"><p class="card-text">{{ $t('home.cards.import_storify.paragraph_updated') }}</p>
            <b-btn variant="success" size="lg" :to="{ name: 'ImportStorify' }" disabled>{{ $t('home.cards.import_storify.button') }}</b-btn>
          </b-card>
        </b-col>
      </b-row>
    </b-container>
    <b-row class="mt-2">
      <b-col>
        <h2>{{ $t('home.columns.whats.title') }}</h2>
        <p>{{ $t('home.columns.whats.paragraph') }}</p>
        <p v-html="$t('home.columns.whats.example')"></p>
        <p v-html="$t('home.columns.whats.sources')"></p>
        <h5>{{ $t('home.columns.why_name.title') }}</h5>
        <p>{{ $t('home.columns.why_name.paragraph') }}</p>
        <h5>{{ $t('home.columns.what_uses.title') }}</h5>
        <p v-html="$t('home.columns.what_uses.paragraph')"></p>
      </b-col>
      <b-col>
        <h2>{{ $t('home.columns.what_stories.title') }}</h2>
        <p>{{ $t('home.columns.what_stories.paragraph') }}</p>
        <p>{{ $t('home.columns.what_stories.sources_list.paragraph') }}</p>
        <ul>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.twitter') }}</li>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.youtube') }}</li>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.facebook') }}</li>
          <li>{{ $t('home.columns.what_stories.sources_list.elements.opengraph') }}</li>
          <li v-html="$t('home.columns.what_stories.sources_list.elements.basic')"></li>
        </ul>
        <p>{{ $t('home.columns.what_stories.sources_list.more') }}</p>
        <h5>{{ $t('home.columns.what_stories.import.title') }}</h5>
        <p>{{ $t('home.columns.what_stories.import.paragraph') }}</p>
        <ul>
          <li>{{ $t('home.columns.what_stories.import.sources.storify') }}</li>
          <li>{{ $t('home.columns.what_stories.import.sources.twitter') }}</li>
        </ul>
      </b-col>
      <b-col>
        <h2>{{ $t('home.columns.more_questions.title') }}</h2>
        <h5>{{ $t('home.columns.more_questions.why.title') }}</h5>
        <p v-html="$t('home.columns.more_questions.why.paragraph')"></p>
        <h5>{{ $t('home.columns.more_questions.when.title') }}</h5>
        <p>{{ $t('home.columns.more_questions.when.paragraph') }}</p>
        <h5>{{ $t('home.columns.more_questions.who.title') }}</h5>
        <p v-html="$t('home.columns.more_questions.who.paragraph')"></p>
      </b-col>
    </b-row>
  </div>
</template>

<script>
export default {
  name: 'Home',
  data() {
    return {};
  },
};
</script>
