<html>
  <head>
    <link rel="stylesheet" href="<%= static_url(PickweaverWeb.Endpoint, "/css/email.css") %>">
  </head>
  <body>
    <%= render @view_module, @view_template, assigns %>

    <p><%= gettext "An email sent by Pickweaver on %{instance}.", instance: @instance %></p>
  </body>
</html>
