<template>
  <div>
    <div class="w-100"></div>
    <div class="card">
      <!--<textarea placeholder="Paste a link or write some text here." v-model="text" @paste="paste"></textarea>-->
      <vue-medium-editor :text="text" :options="options" @edit='processEditOperation'></vue-medium-editor>
      <div>
        <b-button variant="outline-danger" size="sm" @click="removeElement(element)"><icon name="check"></icon> Cancel</b-button>
        <b-button :disabled="text === ''" variant="outline-success" size="sm" @click="saveElement(element, text)"><icon name="check"></icon> Save</b-button>
      </div>
    </div>
    <div class="w-100"></div>
  </div>
</template>
<script>
import VueMediumEditor from 'vue2-medium-editor';
// import MeMarkdown from 'medium-editor-markdown';
// import Autolist from 'medium-editor-autolist';
import 'medium-editor/dist/css/medium-editor.css';
import 'medium-editor/dist/css/themes/bootstrap.css';

import Icon from 'vue-awesome/components/Icon';
import 'vue-awesome/icons/check';

export default {
  name: 'NewElement',
  components: { Icon, 'vue-medium-editor': VueMediumEditor },
  data() {
    return {
      text: '',
      options: {
        toolbar: {
          buttons: ['bold', 'italic', 'underline', 'anchor', 'h2', 'h3', 'unorderedlist'],
        },
        extensions: {
          /* autolist: Autolist,
            markdown: new MeMarkdown((md) => {
              this.text = md;
            }), */

        },
      },
    };
  },
  props: {
    saveElement: {
      type: Function,
      required: true,
    },
    removeElement: {
      type: Function,
      required: true,
    },
    element: {
      type: Object,
      required: true,
    },
  },
  methods: {
    processEditOperation(operation) {
      this.text = operation.api.origElements.innerHTML;
    },
  },
};
</script>
