<template>
  <div class="text-card">
    <div class="w-100"></div>
    <p v-html="text.text"></p>
    <div class="w-100"></div>
  </div>
</template>
<script>

export default {
  name: 'TextCard',
  props: ['text'],
  data() {
    return {
      rendered: false,
    };
  },
  methods: {
    mounted() {
      // TODO : What's this ?
      /* eslint-disable */
      for (const element of elements.querySelectorAll('p img')) {
        element.classList.add('img-fluid', 'rounded', 'mx-auto', 'd-block');
      }
      /* eslint-enable */
    },
  },
};
</script>
<style>
.text-card img {
  max-width: 100%;
  display: block;
  margin: auto;
}
</style>
